spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

    hikari:
      maximum-pool-size: 20

  jpa:
    show-sql: true

app:
    base-url: ${BASE_URL}

logging:
  level:
    com.notso: INFO
    org.springframework: WARN